# Mac DS_Store
.DS_Store

# node_modules
node_modules

# npm debug & yarn error
npm-debug.*
yarn-error.*

# coverage
coverage/*

# config file
config/mysqlConf.json
config/githubConf.json
config/gitlabConf.json

# editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
