# Mac DS_Store
.DS_Store

# node_modules
node_modules

# npm debug & yarn error
npm-debug.*
yarn-error.*

# coverage
coverage/*

githubModels/token.js

# editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
